.footer-form {
  display: flex;
  margin-right: 0;

  &-fild {
    display: flex;
    margin-bottom: 0px;
  }

  &-title-subscribe {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-white-color);
    margin-bottom: 20px;
  }
  &-subscribe {
    width: 358px;
    height: 50px;
    background-color: var(--darck-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-right: 5px;
    padding-left: 16px;
    color: var(--text-white-color);
    transition: border var(--animation);
  }
  &-subscribe:focus {
    transition: border var(--animation);
  }
  &-subscribe::placeholder {
    width: 47px;
    height: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
  }
}
